/*Clear Formatting*/
* {
	margin: 0;
	padding: 0;
}


/*Formatting Start*/
body {
	font-size: 1em;
	font-family: "Trebuchet", Helvetica, sans-serif;
	background: #e6e6e6;
}


/*Layout*/
#header-area {
	background: #f7b600;
	padding: 15px;
	text-align: center;
}

#logo-area, #menu-area {
	padding: 10px;
}

#main-area {
	width: 920px;
	margin: 0 auto;
	padding: 15px;
	padding-bottom: 0;
}

#news-area {
	width: 660px;
	float: left;
}

.news {
	padding: 20px;
	margin-bottom: 20px;
	background: white;
}

#lateral-area {
	width: 240px;
	float: right;
}

.lateral-content {
	background: white;
	padding: 10px;
	margin-bottom: 20px;
}

.lateral-news {
	font-size: 0.8em;
	padding: 5px;
	border-bottom: 1px solid #CCC;
}

.lateral-menu {
	background: white;
	padding: 10px;
	margin-bottom: 20px;
}

#footer-area {
	clear: both;
	text-align: center;
	padding: 15px;
	background: #CCC;
}


/*Menu sFormatting*/
a {
	text-decoration: none;
}

a:link, a:visited {
	color: #f7b600;
}

a:hover {
	text-decoration: underline;
}

#header-area a:link, #header-area a:visited {
	color: white;
	padding: 8px 12px;
}

#header-area a:hover {
	text-decoration: none;
	color: #f7b600;
	background: white;
}

/*General Formatting*/
h1 {
	color: #4e4e4e;
	font-size: 2.5em;
}

h2 {
	color: #f7b600;
}

h3 {
	color: #565656;
	background: #CCC;
	padding: 5px;
}

.branco {
	color: white;
}

.news-date {
	font-size: 0.8em;
	border: 1px solid #f4f4f4;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block;
}

.lateral-menu a {
	font-size: 0.9em;
}